<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Feel My Rhythm</title>
  <title>Feel My Rhythm</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='home-style.css') }}">
  <script src="https://kit.fontawesome.com/af7cab36be.js" crossorigin="anonymous"></script>
</head>
<body>
<div id="header">
    <div class="container">
        <nav>
            <img src=" " class="logo">
            <ul id="sidemenu">
                <li><a href="#header">Home</a></li>
                <li><a href="#about">About the group</a></li> <!-- Info sa researchers-->
                <!--<li><a href="#services">Services</a></li>  Tatanggalin-->
                <li><a href="#portfolio">Personality Types</a></li><!-- Dito ilalagay yung personality types-->
                <li><a href="#contact">Contact</a></li> <!-- Facebook page ng group-->

                <i class="fa-solid fa-xmark" onclick="closemenu()"></i>
            </ul>
            <i class="fa-solid fa-bars"onclick="openmenu()"></i>
        </nav>
        <div class="header-text">
            <p> </p>  <!--BLANK-->
            <h1>Welcome to <span>MBTI</span><br>Personality Test</h1>
            <a href="{{ url_for('quiz') }}" class="start-button">Start Quiz</a>
        </div>
    </div>
</div>
<!-----------------------------about----------------------------->
<div id="about">
    <div class="d-flex flex-column justify-content-center w-100 h-100"></div>
    <div class="container">
        <div class="row">
            <div class="about-col-1">
                <img src="{{ url_for('static', filename='users.png') }}" alt="">
            </div>
            <div class="about-col-2">
                <h1 class="sub-title">About us</h1>
                <!-- Background Box Wrapper -->
                <div class="background-box">
                    <p>
                        The computer science research group from De La Salle University Dasmariñas, consisting of Delos Santos, Saba, and Virola, is dedicated to exploring innovative solutions in technology. With a strong foundation in computer science principles, they work collaboratively to advance knowledge and address current challenges in the field.
                    </p>

                    <div class="tab-titles">
                        <p class="tab-links active-link" onclick="opentab('skills')">Delos Santos</p>
                        <p class="tab-links" onclick="opentab('experience')">Saba</p>
                        <p class="tab-links" onclick="opentab('education')">Virola</p>
                    </div>
                    <div class="tab-contents active-tab" id="skills">
                        <ul>
                            <li><span>Programming languages</span><br>TEST, TEST, TEST, TEST, </li>
                            <li><span>Software Development Tools</span><br>TEST, TEST, TEST,</li>
                            <li><span>Web Development Tools</span><br>TEST, TEST, TEST, TEST</li>
                        </ul>
                    </div>
                    <div class="tab-contents" id="experience">
                        <ul>
                            <li><span>Information</span><br>I am Romeo Dancel Rollan Saba, I am Romeo Dancel Rollan Saba, I am Romeo Dancel Rollan Saba, I am Romeo Dancel Rollan Saba, I am Romeo Dancel Rollan Saba, I am Romeo Dancel Rollan Saba, I am Romeo Dancel Rollan Saba, I am Romeo Dancel Rollan Saba, I am Romeo Dancel Rollan Saba,</li>
                            <li><span>Programming Langues</span><br>TEST TEST TEST TEST TEST</li>
                            <li><span>Info</span><br>mwehe?</li>
                        </ul>
                    </div>
                    <div class="tab-contents" id="education">
                        <ul>
                            <li><span>Primary Education</span><br>TEST</li>
                            <li><span>Lower and Upper Secondary Education</span><br>TEST</li>
                            <li><span>Tertiary Education</span><br>TEST</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-----------------------------services-----------------------------> 
<!--<div id="services">
    <div class="container">
        <h1 class="sub-title">My services</h1>
        <div class="services-list">
            <div>
                <i class="fa-solid fa-code"></i>
                <h2>Web Design</h2>
                <p>We specialize in crafting captivating and functional websites that leave a lasting impression. Our web design services are tailored to meet the unique needs of businesses and individuals alike, ensuring a seamless blend of creativity and functionality.                    
                </p>
                <a href="#">Learn more</a>
            </div>
            <div>
                <i class="fa-solid fa-crop"></i>
                <h2>UI/UX Design</h2>
                <p>At our company, we offer top-tier UI/UX design services to bring your digital product visions to life. Utilizing the power of Figma, our design process is streamlined, collaborative, and highly efficient, ensuring that every aspect of the user experience is meticulously crafted and visually stunning.                    
                </p>
                <a href="#">Learn more</a>
            </div>
            <div>
                <i class="fa-brands fa-app-store"></i>
                <h2>App Design</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo accusamus dolores commodi tempora, excepturi et veritatis atque doloribus ex. Sunt commodi explicabo aspernatur a fugiat, libero adipisci aut nesciunt cupiditate?                    
                </p>
                <a href="#">Learn more</a>
            </div>
        </div>
    </div>
</div>
<!-----------------------------portfolio-----------------------------> 
<div id="portfolio">

    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>

    <div class="container">
        <h1 class="sub-title1">Personality Types</h1>
        <div class="work-list">
            <div class="work">
                <img src="{{ url_for('static', filename='work-1.png') }}" alt="">
                <div class="layer">
                    <h3>INTJ</h3>
                    <p>Imaginative and strategic thinkers, with a plan for everything</p>

                </div>
            </div>
            <div class="work">
                <img src="{{ url_for('static', filename='work-2.png') }}" alt="">
                <div class="layer">
                    <h3>INTP</h3>
                    <p>Innovative inventors with an unquenchable thirst for knowledge</p>

                </div>
            </div>
            <div class="work">
                <img src="{{ url_for('static', filename='work-3.png') }}" alt="">
                <div class="layer">
                    <h3>ENTJ</h3>
                    <p>Bold, imaginative and strong-willed leaders, always finding a way – or making one</p>

                </div>
            </div>
            <div class="work">
                <img src="{{ url_for('static', filename='work-4.png') }}" alt="">
                <div class="layer">
                    <h3>ENTP</h3>
                    <p>Smart and curious thinkers who cannot resist an intellectual challenge</p>

                </div>
            </div>
            <div class="work">
                <img src="{{ url_for('static', filename='work-5.png') }}" alt="">
                <div class="layer">
                    <h3>INFJ</h3>
                    <p>Quiet and mystical, yet very inspiring and tireless idealists</p>

                </div>
            </div>
            <div class="work">
                <img src="{{ url_for('static', filename='work-6.png') }}" alt="">
                <div class="layer">
                    <h3>INFP</h3>
                    <p>Poetic, kind and altruistic people, always eager to help a good cause</p>

                </div>
            </div>
            <div class="work">
                <img src="{{ url_for('static', filename='work-7.png') }}" alt="">
                <div class="layer">
                    <h3>ENFJ</h3>
                    <p>Charismatic and inspiring leaders, able to mesmerize their listeners.</p>

                </div>
            </div>
            <div class="work">
                <img src="{{ url_for('static', filename='work-8.png') }}" alt="">
                <div class="layer">
                    <h3>ENFP</h3>
                    <p>Enthusiastic, creative and sociable free spirits, who can always find a reason to smile</p>

                </div>
            </div>
            <div class="work">
                <img src="{{ url_for('static', filename='work-9.png') }}" alt="">
                <div class="layer">
                    <h3>ISTJ</h3>
                    <p>Practical and fact-minded individuals, whose reliability cannot be doubted</p>

                </div>
            </div>
            <div class="work">
                <img src="{{ url_for('static', filename='work-10.png') }}" alt="">
                <div class="layer">
                    <h3>ISFJ</h3>
                    <p>Very dedicated and warm protectors, always ready to defend their loved ones</p>

                </div>
            </div>
            <div class="work">
                <img src="{{ url_for('static', filename='work-11.png') }}" alt="">
                <div class="layer">
                    <h3>ESTJ</h3>
                    <p>Excellent administrators, unsurpassed at managing things – or people</p>

                </div>
            </div>
            <div class="work">
                <img src="{{ url_for('static', filename='work-12.png') }}" alt="">
                <div class="layer">
                    <h3>ESFJ</h3>
                    <p>Extraordinarily caring, social and popular people, always eager to help</p>

                </div>
            </div>
            <div class="work">
                <img src="{{ url_for('static', filename='work-13.png') }}" alt="">
                <div class="layer">
                    <h3>ISTP</h3>
                    <p>Bold and practical experimenters, masters of all kinds of tools</p>

                </div>
            </div>
            <div class="work">
                <img src="{{ url_for('static', filename='work-14.png') }}" alt="">
                <div class="layer">
                    <h3>ISFP</h3>
                    <p>Flexible and charming artists, always ready to explore and experience something new</p>

                </div>
            </div>
            <div class="work">
                <img src="{{ url_for('static', filename='work-15.png') }}" alt="">
                <div class="layer">
                    <h3>ESTP</h3>
                    <p>Smart, energetic and very perceptive people, who truly enjoy living on the edge</p>

                </div>
            </div>
            <div class="work">
                <img src="{{ url_for('static', filename='work-16.png') }}" alt="">
                <div class="layer">
                    <h3>ESFP</h3>
                    <p>Spontaneous, energetic and enthusiastic people – life is never boring around them</p>
                </div>
            </div>

        </div>
       <!-- <a href="#" class="btn">Take Quiz</a> -->
    </div>
</div>
<!-----------------------------contact-----------------------------> 
<div id="contact">
    <div class="container">
        <div class="row">
            <div class="contact-left">
                <h1 class="sub-title2">Contact Us</h1>

                <p><i class="fa-solid fa-paper-plane"></i> romeosaba06@gmail.com</p>
                <p><i class="fa-solid fa-paper-plane"></i> bikay06@gmail.com</p>
                <p><i class="fa-solid fa-paper-plane"></i> jmz06@gmail.com</p>
                <p><i class="fa-solid fa-phone"></i> 09279919097</p>

                <div class="social-icons">
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    <a href=""><i class="fa-brands fa-twitter-square"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/romeo-saba-752241291/"><i class="fa-brands fa-linkedin"></i></a>
                </div>
                <!--<a href="images/my-cv.pdf" download class="btn btn2">Download CV</a>-->

            </div>
            <div class="contact-right">
                <form name="submit-to-google-sheet">
                    <input type="text" name="Name" placeholder="Your Name" required>
                    <input type="email" name="Email" placeholder="Your Email" required>
                    <textarea name="Message" rows="6" placeholder="Your Message"></textarea>
                    <button type="submit" class="btn btn2">Submit</button>
                </form>
                <span id="msg"></span>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>Copyright ©RuMiyuuuu and friends. Made with <i class="fa-solid fa-heart"></i> by Feel My Rhythm</p>
    </div>
</div>

<script>

    var tablinks = document.getElementsByClassName("tab-links");
    var tabcontents = document.getElementsByClassName("tab-contents");

    function opentab(tabname){
        for(tablink of tablinks){
            tablink.classList.remove("active-link");
        }
        for(tabcontent of tabcontents){
            tabcontent.classList.remove("active-tab");
        }
        event.currentTarget.classList.add("active-link");
        document.getElementById(tabname).classList.add("active-tab");
    }

</script>

<script>

    var sidemenu = document.getElementById("sidemenu");

    function openmenu(){
        sidemenu.style.right = "0";
    }
    function closemenu(){
        sidemenu.style.right = "-200px";
    }

</script>

<script>
    const scriptURL = 'https://script.google.com/macros/s/AKfycbwP3iNf1MiEeNr9HsXNE8wK8jZls3mMXLCoPdK6Jzj-chVZDOp59Idr6NVhWWosVV3CYg/exec'
    const form = document.forms['submit-to-google-sheet']
    const msg = document.getElementById("msg")
  
    form.addEventListener('submit', e => {
      e.preventDefault()
      fetch(scriptURL, { method: 'POST', body: new FormData(form)})
        .then(response => {
            msg.innerHTML = "Message sent sucessfully!"
            setTimeout(function(){
                msg.innerHTML = ""
            },5000)
            form.reset()
        })
        .catch(error => console.error('Error!', error.message))
    })
  </script>
<style>
    #header {
        width: 100%;
        height: 100vh;
        background-image: url("{{ url_for('static', filename='background.png') }}");
        background-size: cover;
        background-position: center;
    }
</style>

</body>
</html>